<div class="container">

  <h1>Welcome to ReHome</h1>
  <p>Here you find help with any of your home projects!</p>

  <div class="row">
    <% @projects.each do |project|%>
      <div class="card col-6 m-4" style="width: 18rem;">
        <img src=<%= project.img_url %>% class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= project.title %> </h5>
          <p class="card-text"> <%=project.address%> </p>
          <p class="card-text"> <%=project.time_frame%> weeks </p>
          <p class="btn btn-success text-muted"><%= link_to "See project details", project_path(project.id) %></p>
        </div>
      </div>
    <% end %>
  </div>


  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
<br>
<br>
  <div>

<h3>About us</h3>
  <br>
  <p>ReHome is a dynamic and innovative platform that specialises in the seamless match-making of skilled contractors with homeowners seeking to refurbish their living spaces. With a deep understanding of the challenges faced by homeowners when embarking on home improvement projects, ReHome aims to simplify and streamline the process by connecting homeowners with top-notch contractors who possess the expertise and experience required for their specific renovation needs. By leveraging advanced technology and a vast network of trusted professionals, ReHome ensures that homeowners can confidently embark on their home refurbishment journey. Whether it’s a complete home renovation or a specific area makeover, ReHome’s platform facilitates efficient communication and collaboration, enabling homeowners to articulate their vision while contractors bring it to life. With a commitment to exceptional service and quality craftsmanship, ReHome strives to transform houses into dream homes, one project at a time.</p>

  </div>

</div>
