<div class="container">

  <h1><%= @project.title %></h1>

  <!-- display all the information about a specific project on the page -->
  <div>
    <div class="card mb-3">
      <img src=<%= @project.img_url %> class="card-img-top" height=300px alt="<%= @project.room %>">
      <div class="card-body">
        <p class="card-text"> <strong> Project details </strong> </p>
        <p class="card-text"><%= @project.description %></p>
        <p class="card-text"><%= @project.room %></p>
        <p class="card-text"><%= @project.address %></p>
        <p class="card-text"><%= @project.budget %> € </p>
        <p class="card-text"><%= @project.time_frame %> weeks </p>
        <p class="card-text"> Sustainability <%= @project.sustainability %></p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>


<% chosen = @project.offers.any? { |offer| offer.offer_status == true } %>

<% if chosen %>
  <ul class="list-group">
    <% @project.offers.each do |offer| %>
      <% if offer.offer_status == true %>
        <li class="list-group-item"><%= offer.comment %>
          <%= link_to "Choose diffrent Offer", offer_path(offer),
            data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </li>
      <% end %>
    <% end %>
  </ul>
<% else %>
  <p><strong>Offers</strong></p>
  <p><%= link_to "Create new Offer", new_project_offer_path(@project) %></p>

  <ul class="list-group">
    <% @project.offers.each do |offer| %>
      <li class="list-group-item"><%= offer.comment %>
         <% if @project.user == current_user %>
          <p class="btn btn-success"><%= link_to "Accept Offer", edit_project_offer_path(offer) %></p>
          <% end %>

          <% if @project.user == current_user %>
          <p class="btn btn-success"><%= link_to "Delete Offer", offer_path(offer),
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></p>
          <% end %>
      </li>
    <% end %>
  </ul>
<% end %>





  <br>


 <% if @project.user == current_user %>
<p class="btn btn-success"><%= link_to "Delete project", project_path(@project),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%></p>
<% end %>

 <% if @project.user == current_user %>
<p class="btn btn-success"><%= link_to "Update project",  edit_project_path(@project) %></p>
<% end %>




  </div>





</div>
